

div{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 500px;
    margin-top: 50px;
    color: whitesmoke;
    text-shadow: 2px 2px #06391a;
    font-size: 30pt;
    position: relative;
    left: 35%;
}